{% extends 'private/admin/user/update.html.twig' %}

{% block titleh2 %}<h2>new User</h2>{% endblock %}
{% block passwordChangeButton %}{% endblock %}
{% block passwordField %}
    <div class="form-row">
        <div class="label-form">
            <label for="password">Password</label>
        </div>
        <div class="field-form">
            <input type="password" name="password" placeholder="Password">
        </div>
    </div>
    <div class="form-row">
        <div class="label-form">
            <label for="password-repeat">Repeat password</label>
        </div>
        <div class="field-form">
            <input type="password" name="password-repeat" placeholder="Répétez le password">
        </div>
    </div>
{% endblock %}

